/* Galería de imágenes */
.gallery {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px
}

.main_image figure, .gallery figure {
    display: inline-block;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

.main_image img, .gallery img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.main_image figcaption, .gallery figcaption {
    margin-top: 8px;
    font-size: 14px;
    color: #666;
}

.images img {
    display: block;
    border: 1px solid #dee2e6;
    padding: 5px;
    max-width: 100%;
}

.gallery figure img {
    width: 170px;
}


/* Paginación */
nav[role="navigation"][aria-label="Pagination Navigation"]>div:first-child {
    display: none;
}

nav[role="navigation"][aria-label="Pagination Navigation"] svg{
    width: 20px;
}


/* Modal para imagen */
img[aria-img-modal] {
    cursor: pointer;
}

div#img_modal, div#img_modal * {
    user-select: none;
    cursor: pointer;
}

#img_modal {
    display: none; /* Oculta el modal por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85); /* Fondo negro con 80% de opacidad */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
}

/* Modal visible */
#img_modal.visible {
    display: flex; /* Flexbox para centrar el contenido */
    opacity: 1;
}

#img_modal img {
    max-width: 95%;
    height: auto;
    border-radius: 5px;
}


/* Modal eliminar imágenes */
.modalConfirm .modal-body {
    text-align: center;
}

.modalConfirm .modal-body h5,
.modalConfirm .modal-body p,
.modalConfirm .modal-body .alert {
    margin: 0.5rem 0;
}

.modalConfirm .modal-body p {
    margin: 1.5rem 0;
    font-size: 1.5rem;
}
.modalConfirm .modal-body img {
    margin: 1rem;
    max-width: 300px;
    max-height: 150px;
    padding: 5px;
    border: 1px solid #ccc;
}